@media (min-width: $medium-screen) and (max-width: $large-screen) {
  // Styles for medium screens
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2px;
    border-bottom: 0.5px solid #3d3d3d;
    width: 100%;
  }

  ul {
    color: var(--White, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    margin: 10px;

    li {
      list-style: none;
    }
  }
  .middlenav,
  .loginnav {
    display: flex;
    gap: 30px;
  }

  .middlenav {
    color: #bdbdbd;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .loginnav li {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px 12px;
  }

  .loginnav li:nth-child(2) {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background: #2b892e;
  }
  .menu {
    display: none;
  }

  .netbackground {
    display: none;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin: 88px 30px 80px 30px;

    .chevron {
      display: flex;
      background-color: #fff;
      padding: 6px 6px;
      border-radius: 100px;
      border: 0.2px solid #989898;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      gap: 8px;

      p {
        background-color: transparent;
      }

      img {
        background-color: transparent;
      }
    }

    h1 {
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .p1 {
      color: #bdbdbd;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }

    .p2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      a {
        text-decoration: none;
        border-radius: 100px;
        background-color: #2b892e;
        padding: 10px 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }
    }
  }

  .image-frame {
    display: flex; /* Use flex layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    .tabletimg {
      max-width: 100%;
      max-height: 100%;
    }
    .mobileimg {
      display: none;
    }
  }

  .featured-in {
    display: flex;
    flex-direction: column;
    margin-top: 103px;
    p {
      color: #bdbdbd;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
    }

    .logos {
      display: flex;
      justify-content: space-around;
      margin: 28px 0 103px 0;
    }
  }

  .elevatepage {
    .intro {
      color: var(--White, #fff);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .introparagraph {
      color: #bdbdbd;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      margin-top: 24px;
    }

    .framesbig {
      display: none;
    }

    .frames {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 80px 10px;
      gap: 32px;
      flex-wrap: wrap;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }


.card1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: #ffffff0a solid 1px;
      margin: 80px 24px 32px 24px;
      background: linear-gradient(
          rgba(255, 255, 255, 1) 0.5px,
          transparent 0.5px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 1) 0.5px, transparent 0.5px);
      background-size: 20px 20px; /* Adjust the size as needed */
      border-radius: 8px;
      border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
      height: 395px;

      .tests {
        margin-top: 34px;
        max-height: 395px;
      }

      .testimony {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 8px 30px;
        padding: 10px;
        justify-content: center;
        height: 44.625px;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
        background: #131313;
        width: 233px;

        img {
          padding: 8px;
          border-radius: 10px;
          background-color: #2b2b2b;
          margin-right: 2px;
        }
        & > * {
          display: flex;
          background-color: inherit;
          font-size: 0.7rem;
        }
      }

      .testimony2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        padding: 10px;
        justify-content: center;
        height: 44.625px;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
        background: #131313;

        img {
          padding: 8px;
          border-radius: 10px;
          background-color: #2b2b2b;
          margin-right: 2px;
        }
        & > * {
          display: flex;
          background-color: inherit;
          font-size: 1rem;
        }
      }
      .info {
        margin: 87px 24px 24px 24px;

        h4 {
          color: var(--White, #fff);
          font-size: 24px;
          font-weight: 700;
        }

        p {
          margin-top: 16px;
        }
      }
    }

    //card 2

    .card2 {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
      height: 395px;
      gap: 30px;
      margin: 24px 32px;

      .perks {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        background-color: #131313;
        height: 200px;
        padding-top: 30px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, transparent 20%, #030201 100%);
          z-index: 1; /* Ensure the overlay is above other content */
        }

        .testimony {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 9px;
          border-radius: 8px;
          border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
          background: #131313;
          width: 233px;
          padding: 5px;
          gap: 10px;

          img {
            width: 31.628px;
            height: 31.628px;
          }
          span {
            width: 31.628px;
            height: 31.628px;
            border-radius: 8px;
            background: #2b892e;
            margin-right: 20px;
          }
          &:nth-child(2) {
            width: max-content;
            
            p {
              font-size: 1.2rem;
            }
          }
          .colorBox {
            background: #d06604;
          }
        }

        p {
          background: inherit;
          font-size: 0.8rem;
        }
      }

      .info {
        margin: 5px 24px 24px 24px;
        background-color: #030201;

        p {
          margin-top: 16px;
          background: inherit;
          font-size: 16px;
          font-weight: 400;
        }

        h4 {
          color: var(--White, #fff);
          font-size: 24px;
          font-weight: 700;
          font-style: normal;
        }
      }
    }

    .card3 {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
      height: 395px;
      gap: 30px;
      margin: 24px 32px;

      .perk {
        border-radius: 8px;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));

        position: relative;
        margin: 30px 24px 0 24px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, transparent 5%, #20202091 100%);
          z-index: 1; /* Ensure the overlay is above other content */
        }

        .sendMessage {
          padding-top: 20px;
          color: #989898;
        }
        .testimony {
          display: flex;
          flex-direction: row;
          gap: 14px;
          margin: 20px 0 10px 13px;

          img {
            width: 48.729px;
            height: 48.729px;
          }

          p {
            color: #989898;
            font-size: 16px;
            font-style: normal;
          }
        }
      }

      .info {
        margin: 20px 24px 24px 24px;
        background-color: #030201;

        p {
          margin-top: 16px;
          background: inherit;
          font-size: 16px;
          font-weight: 400;
        }

        h4 {
          color: var(--White, #fff);
          font-size: 24px;
          font-weight: 700;
          font-style: normal;
        }
      }
    }

    .card4 {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
      max-height: auto;
      gap: 30px;
      margin: 24px 32px;

      .perk {
        border-radius: 8px;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));

        img {
          max-width: 100%;
          object-fit: cover;
          height: auto;
        }
      }

      .info {
        margin: 5px 24px 24px 24px;
        background-color: #030201;
        height: auto;

        p {
          margin-top: 16px;
          background: inherit;
          font-size: 16px;
          font-weight: 400;
        }

        h4 {
          color: var(--White, #fff);
          font-size: 24px;
          font-weight: 700;
          font-style: normal;
        }
      }
    }
  


  .financial-page {
    .intro {
      color: var(--White, #fff);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .intro-paragraph {
      text-align: center;
      line-height: 24px; /* 150% */
      margin-top: 24px;
      color: #bdbdbd;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
    }

    .fin-image {
      display: flex;
      align-items: center;
      margin: 80px 0;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .mobileimg {
        display: none;
      }
    }

    .benefits {
      display: flex;
      flex-direction: column;
      margin: 56px 24px;
      gap: 20px;

      .perkmobile {
        display: flex;
        gap: 20px;

        p {
          color: var(--White, #fff);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      p {
        color: #bdbdbd;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    .green {
      display: flex;
      width: 100%;
      height: 876px;
      padding: 32px 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #48d64c;
      margin: 96px 0 96px 0;
    }
    .bigtext {
      color: var(--Background, #070606);
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: inherit;
    }

    .secondheading {
      margin-left: 24px;

      .intro2 {
        color: var(--White, #fff);
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .intro2paragragh {
        color: #989898;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-top: 24px;
      }
    }

    .benefitimage {
      display: flex;
      flex-direction: column;
      margin: 80px 24px 32px 24px;
      gap: 20px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        max-height: auto;
        border-radius: 12px;
        border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
        background: #131313;
      }

      img {
        max-width: 100%;
        max-height: auto;
      }

      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: var(--White, #fff);
        background-color: inherit;
        margin: 24px 24px;
        height: auto;
      }

      p {
        color: #bdbdbd;
        background-color: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        height: auto;
        margin: 0 24px 24px 24px;
      }
    }
  }

  .reviews {
    display: flex;
    justify-content: space-evenly;

    .head {
      color: #fff;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
    }

    .sub {
      color: #bdbdbd;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .smilesimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .mobileimg {
      display: none;
    }
  }

  .introduction {
    .heading {
      color: #48d64c;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    .intros {
      color: var(--White, #fff);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .introsparagraph {
      color: #bdbdbd;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }

    .creditcard {
      display: flex;
      justify-content: center;
      margin-top: 92px;
    }

    .benefits {
      display: flex;
      flex-direction: column;
      margin: 56px 24px;
      gap: 20px;

      .perkmobile {
        display: flex;
        gap: 20px;

        p {
          color: var(--White, #fff);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      p {
        color: #bdbdbd;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }

    .profileDesktop {
      display: none;
    }
    
    .green {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 80px 0;
      max-height: auto;
      width: 100%;
      background: #48d64c;
      padding: 32px 24px;

      h3 {
        color: var(--Background, #070606);
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: inherit;
        margin-top: 30px;
      }

      p {
        margin: 64px 32px 24px 32px;
        color: #292929;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        background-color: inherit;
      }

      .profile {
        display: flex;
        background-color: inherit;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        span {
          background-color: inherit;
        }
        p {
          color: #292929;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          margin-left: 32px;
        }
        h3 {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: var(--Background, #070606);
          margin-left: 32px;
        }
        img {
          width: 40px;
          height: 40px;
          background-color: inherit;
          margin-right: 32px;
        }
      }

      .bottomArrow {
        display: flex;
        gap: 20px;
        justify-content: end;
        background-color: #48d64c;
        width: 100%;

        img {
          width: 40px;
          height: 40px;
          margin-top: 24px;
          border-radius: 100px;
          border: 1px solid #000;
          background: #fff;
        }
      }
    }
  }

  .faq {
    margin: 96px 24px;
    h3 {
      color: var(--White, #fff);
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .questions {
      display: flex;
      flex-direction: column;
      margin: 56px 0;
      gap: 20px;

      span {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        p {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .line {
      background: #3d3d3d;
      height: 1px;
    }
  }

  .footer {
    .logos img:first-child {
      width: 72px;
      height: 72px;
    }

    .line {
      background: #3d3d3d;
      height: 1px;
      margin-top: 40px;
    }

    .tabletfooter {
      display: flex;
      flex-direction: row;
      margin: 60px 10px;
    }

    .playstore {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .lists {
      display: flex;
      justify-content: space-between;
      margin-left: 24px;

      span {
        display: flex;
        flex-direction: column;
      }

      span p {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        margin-left: 0;
      }

      li {
        color: #efefef;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        list-style: none;
      }
    }

    .companyinfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 32px 24px 56px;

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
