@font-face {
  font-family: 'SF Pro Display';
  src: url(./assets/font/SF-Pro-Display-Light.otf);
  font-style: normal;
}

* {
  background-color: #070606;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  overflow-x: hidden;
}

$small-screen: 640px;
$medium-screen: 641px;
$large-screen: 1024px;

// Import mobile styles for screens up to 640px
@media (max-width: $small-screen) {
  @import 'mobile';
}

// Import tablet styles for screens between 640px and 1024px
@media (min-width: $small-screen) and (max-width: $large-screen) {
  @import 'tablet';
}

// Import large screen styles for screens above 1024px
@media (min-width: $large-screen) {
  @import 'large';
}
